.cover {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 984px;
}

.cover__title {
  color: white;
  margin: 0 auto;
  font-weight: bold;
  font-size: 96px;
  line-height: 100px;
  align-items: center;
  margin-bottom: 32px;
  width: 720px;
  height: 200px;
  text-align: center;
}

.cover__subtitle {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 720px;
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}

.cover__image {
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
  max-width: 984px;
}

.cover__subtitle-text {
  margin: 0 auto;
  color: white;
  font-size: 30px;
  line-height: 36px;
}

@media (max-width: 1024px) {
  .cover {
    width: 100vw;
  }
  .cover__title {
    margin-bottom: 25px;
    width: 530px;
    height: 158px;
    font-size: 75px;
    line-height: 79px;
  }

  .cover__subtitle {
    margin-bottom: 30px;
  }

  .cover__image {
    max-width: 768px;
  }
}

@media (max-width: 544px) {
  .cover {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 320px;
  }
  .cover__title {
    margin-bottom: 16px;
    font-size: 40px;
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    height: 88px;
  }

  .cover__subtitle {
    max-width: 288px;
    height: 40px;
    margin-bottom: 40px;
  }
  .cover__subtitle-text {
    line-height: 20px;
    font-size: 16px;
  }
}
