.description {
  display: flex;
  flex-direction: column;
  margin: 92px auto 0px 148px;
  color: white;
}
.description__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  margin-bottom: 39px;
  max-width: 850px;
}
.description__quote {
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  margin-bottom: 10px;
}

.description__quote-name {
  text-align: end;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  margin: 10px 0 32px 0;
  max-width: 732px;
  margin-bottom: 31.99px;
  margin-top: 0px;
}

.description__intro {
  margin-top: 0px;
  letter-spacing: 0%;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  max-width: 722px;
}
