.description {
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: 148px;

  color: white;
}
.description__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  letter-spacing: 0%;
  margin-bottom: 39px;
  max-width: 850px;
}
.description__quote {
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  margin-bottom: 10px;
  margin-top: 0px;
}

.description__quote-name {
  text-align: end;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  text-align: right;
  margin: 10px 0 32px 0;
  max-width: 732px;
  margin-bottom: 31.99px;
  margin-top: 0px;
}

.description__intro {
  margin-top: 0px;
  margin-bottom: 0;
  letter-spacing: 0%;
  font-weight: 400;
  font-size: 16px;
  line-height: 165%;
  max-width: 722px;
}

@media (max-width: 1024px) {
  .description {
    margin-top: 89px;
    max-width: 720px;
    margin-left: auto;
  }

  .description__title {
    max-width: 707px;
    font-size: 45px;
    margin-bottom: 50px;
  }

  .description__quote {
    margin-bottom: 0px;
    font-size: 24px;
  }
}

@media (max-width: 544px) {
  .description {
    margin-top: 64px;
    max-width: 288px;
  }

  .description__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 40px;
    max-width: 288px;
  }

  .description__quote {
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 30px;
  }

  .description__intro {
    line-height: 163%;
    font-size: 16px;
  }
}
