.header {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.header__content {
  padding-top: 34px;
  padding-bottom: 91.06px;
}

.header__logo {
  display: block;
  margin: 0 auto;
  width: 254.84px;
  height: 68.94px;
}

@media (max-width: 1024px) {
  .header__content {
    padding-top: 30px;
    padding-bottom: 90px;
  }
  .header__logo {
    width: 254px;
    height: 66px;
  }
}

@media (max-width: 544px) {
  .header__content {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .header__logo {
    width: 188px;
    height: 52px;
  }
}
