.imageSet {
  display: flex;
  padding: 0 53px 0 43px;
  justify-content: center;
  align-items: center;
  margin-top: 118px;
}

.imageSet__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 1200px) {
  .imageSet {
    padding: 0 24px 0 24px;
    margin-top: 64px;
  }

  .imageSet__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageSet__grid {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .imageSet {
    padding: 0 16px 0 16px;
    margin-top: 39px;
  }
  .imageSet__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .imageSet__grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
