.locations {
  color: white;
  margin-top: 79px;
  margin-right: 156px;
  margin-left: 137px;
}
.location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  align-items: center;
  column-gap: 40px;
  margin-bottom: 80px;
}

.location:nth-last-child(4) {
  justify-self: end;
}

.location__title {
  font-family: Inter;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  letter-spacing: 0%;
  margin-top: 0;
  margin-bottom: 0;
}

.location__img {
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
  margin-top: 0;
  margin-bottom: 0;
  grid-row: 2/3;
}

.location__btn {
  width: 289px;

  height: 48;
  border-radius: 4px;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  background-color: rgb(0, 166, 255);
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  grid-row: 3/4;
}

.location__reference {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: 0%;
  align-self: end;
}

.location__reference-url {
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 12%;
  text-transform: uppercase;
}

.location__description {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  letter-spacing: 0%;
  margin-top: 48px;
}

.location__img-two {
  grid-row: 2/3;
  margin: 0;
}

@media (max-width: 1024px) {
  .locations {
    margin: 0;
    padding: 0 24px 0 24px;
  }

  .location__title {
    font-family: Inter;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0%;
  }
  .location__btn {
    font-family: Inter;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .location__reference {
    font-size: 16px;
  }

  .location__paragraph-principal {
    font-size: 16px;
  }
}
@media (max-width: 640px) {
  .location {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .location__title {
    margin-bottom: 30px;
  }

  .location__reference {
    margin-bottom: 30px;
    margin-left: 0;
    text-align: left;
  }

  .location__btn {
    width: 100%;
    margin-top: 30px;
  }

  .location__img img {
  }
}
