header,
h1,
h2 {
  margin: 0;
}
body {
  background-color: #2a2c2f;
}
.page {
  margin: auto;
  font-family: "Inter", "Arial", serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #2a2c2f;
  max-width: 1280px;
}
