.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr;
  gap: 40px;
  max-width: 1000px;
  margin: auto;
  margin-top: 80px;
  margin-right: 156px;
  margin-left: 137px;
}

.place__title {
  font-size: 72px;
  color: white;
  line-height: 76px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

.place__subtitle {
  margin: 0px;
  font-size: 18px;
  align-self: flex-end;
  color: white;
}

.place__paragraphs {
  color: white;
  grid-row: span 2;
  margin: 0;
}

.place__text {
  margin: 0;
}

.place__link {
  width: 289px;
  height: 48px;
  border-radius: 4px;
  background-color: rgb(0, 166, 255);
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.place__url-heading {
  margin: 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 12%;
  text-transform: uppercase;
  color: #aaaaaa;
}

.place__artist-Info {
  font-size: 18px;
  font-weight: normal;
  width: fit-content;
  margin: 0;
  display: inline-block;
  width: fit-content;
}

.place__image {
  width: 100%;
  max-width: 450px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.place__image:hover {
  filter: brightness(0.5);
}

.place__link:hover {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 25%);
}

@media (max-width: 1024px) {
  .place {
    margin-top: 80px;

    margin-right: 24px;
    margin-left: 24px;
  }
  .place__url-heading {
    margin: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 12%;
    text-transform: uppercase;
    color: #aaaaaa;
  }
}

@media (max-width: 544px) {
  .place {
    display: block;
    margin: 0;
    margin-top: 50px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;
    letter-spacing: 0%;
    margin-bottom: 30px;
    margin-left: 16px;
  }

  .place__subtitle {
    margin-bottom: 30px;
    margin-left: 16px;
  }

  .place__paragraphs {
    margin-top: 30px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .place__link {
    margin: auto;
    margin-top: 30px;
    align-self: center;
    justify-content: center;
  }
}
